body{
    min-height: 100vh;

    background: #f3d5ff;
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    background: linear-gradient(to right, #ffb1dc, #ffddc6, #ffb1dc);
}

.page{
    margin: auto;
    max-width: var(--size-big);
}





.info{
    display: flex;
    margin: 1rem;
    padding: 1rem;
}
.info .section_lable{
    position: absolute;
    left: 0em;
    top: 0em;
    padding: .1em 1em;
    font-size: 1.32em;
    border-radius: var(--section1-br-r1) 0em;
    background-color: #fff;
}

.myphoto{
    display: block;
    margin-right: 1em;
    width: 8em;
    height: 8em;
    margin-top: auto;
    margin-bottom: auto;

    border-radius: 1000000px;
    border: .2em solid #fff;

    
    object-fit: cover;
}
.aboutme{
    flex: 1;
    padding: .8em;
    border-radius: 1.5em;
    background-color: #fff;
    box-shadow: 0px 0px .8em .1em #d1ceff;
}
.aboutme p{
    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'Shantell Sans', cursive; */
    /* font-size: 14px; */
}
.aboutme p + p{
    margin-top: .5em;
}






.skills{
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */

    margin: 1em;
    padding: 1em;
    padding-left: 2em;

    display: grid;
    grid-template-areas:'technologies programlanguages languages';
    gap: .5em;
}
.skills .section_lable{
    position: absolute;
    left: 0em;
    top: 0em;
    height: 100%;

    font-size: 1.32em;

    border-radius: 0 var(--section1-br-r1) var(--section1-br-r1) 0;
    background-color: #fff;
    
    text-align: center;
    writing-mode: tb-rl;
    transform: rotate(180deg);
}





.technologies{
    grid-area: technologies;

    border-radius: 1.5em;
    background-color: #fff;
    box-shadow: 0px 0px 0.8em 0.1em #d1ceff;
}
.technologies_head{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0em 1em;

    height: var(--blockInSection1-r1);
    border-radius: var(--blockInSection1-r1) var(--blockInSection1-r1) 0 0;
    background-color: #efefef;
}
.technologies_head_lable{
    display: block;
    font-weight: 600;
}
.technologies_body{
    display: flex;
    flex-wrap: wrap;
    padding:0.8em;
}
.technologies_body div{
    margin: .2em;
    padding: .2em;
    background-color: #f9e1ff;
}





.programlanguages{
    grid-area: programlanguages;

    position: relative;
    min-width: 250px;

    padding: 0.8em;
    padding-top: 2.2em;

    border-radius: 1.5em;
    background-color: #fff;
    box-shadow: 0px 0px 0.8em 0.1em #d1ceff;
}
.programlanguages_head{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: var(--blockInSection1-r1);
    border-radius: var(--blockInSection1-r1) var(--blockInSection1-r1) 0 0;
    background-color: #efefef;
}
.programlanguages_head_lable{
    font-weight: 600;
}

.programlanguages li{
    /* display: block; */
    padding: .2em;

    color: #454545;
    /* background-color: #C6FFDD; */
    border-radius: .4em;
    list-style-type: none;
}
.programlanguages li + li{
    margin-top: .2em;
}





.lg-javascript{
    background: linear-gradient(to right,
    #9bffa0 var(--lg-level-javascript),
    #efefef var(--lg-level-javascript));
}
.lg-sql{
    background: linear-gradient(to right,
    #9bffa0 var(--lg-level-sql),
    #efefef var(--lg-level-sql));
}
.lg-python{
    background: linear-gradient(to right,
    #9bffa0 var(--lg-level-python),
    #efefef var(--lg-level-python));
}
.lg-csharp{
    background: linear-gradient(to right,
    #9bffa0 var(--lg-level-csharp),
    #efefef var(--lg-level-csharp));
}
.lg-cpp{
    background: linear-gradient(to right,
    #9bffa0 var(--lg-level-cpp),
    #efefef var(--lg-level-cpp));
}
.lg-{
    background: linear-gradient(to right,
    #9bffa0 var(--lg-level-),
    #efefef var(--lg-level-));
}






.languages{
    grid-area: languages;
    
    position: relative;
    min-width: 120px;

    padding: 0.8em;
    padding-top: 2.2em;

    border-radius: 1.5em;
    background-color: #fff;
    box-shadow: 0px 0px 0.8em 0.1em #d1ceff;
}
.languages_head{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: var(--blockInSection1-r1);
    border-radius: var(--blockInSection1-r1) var(--blockInSection1-r1) 0 0;
    background-color: #efefef;
}
.languages_head_lable{
    font-weight: 600;
}

.languages li{
    padding: 0.2em;
    color: #454545;
    border-radius: 0.4em;
    background-color: #f2e1ff;
    list-style-type: none;
}
.languages li + li{
    margin-top: .2em;
}









@media screen and (max-width: 750px) {
    .skills{
        grid-template-areas:
        'technologies technologies'
        'programlanguages languages';
    }
}
@media screen and (max-width: 540px) {
    .skills{
        grid-template-areas:
        'technologies'
        'programlanguages'
        'languages';
    }
}
@media screen and (max-width: 360px) {
    .skills{
        grid-template-areas:
        'technologies'
        'programlanguages'
        'languages';
    }
}

/* @media screen and (min-width: 800px) and (max-width: 1200px) {
    .classForaMediumScreen {
        
    }
} */












.works-tatle{
    margin-top: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}


.works-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;

    margin: 1em;
    /* background-color: #fff; */
    /* max-width: 400px; */
}



.works__item{
    width: 460px;

    border: .09375em solid #fff;
    border-radius: 1em;    

    -webkit-backdrop-filter: blur();
    backdrop-filter: blur();
    background-color: rgba(255,255,255,.37);
}
.works__item .img{
    display: block;
    width: 100%;
    /* object-fit: scale-down; */
}
.works__item__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4em 1em;
}
.works__item__head .name{
    padding: .2em;
    font-size: 1.1em;
    background-color: rgba(255,255,255,.37);
    border-radius: 0.4em;
}
.works__item__head .right{
    display: flex;
    align-items: center;
}
.works__item__head .link{
    display: block;
    padding: .2em;
    font-size: 1.1em;
    color: #49a1ff;
    background-color: rgba(255,255,255,.37);
    border-radius: 0.4em;
    transition: all .1s;
}
.works__item__head .link + .link{
    margin-left: .2em;
}
.works__item__head .link:hover{
    color: #49a1ff;
    background-color: #9bffa0;
    transform: scale(1.2);
}

.works__item .footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: .5em .5em;
}

.works__item .tag{
    padding: .2em;
    margin-right: .5em;
    border-radius: .4em;
    color: #424242;
    background-color: #C6FFDD;
}
.works__item .others{
    padding: .2em;
    margin-right: .5em;
    border-radius: .4em;
    /* color: #ffffff;
    background-color: #C6FFDD; */
    
    -webkit-backdrop-filter: blur();
    backdrop-filter: blur();
    background-color: rgba(255,255,255,.37);
}


.works__item .body{
    width: 100%;
    height: 250px;
    overflow: hidden;
}


@media screen and (max-width: 1000px) {
    .works__item{
        width: 100%;
        max-width: 650px;
    }
    .works__item .body{
        height:auto;
    }
}

@media screen and (max-width: 500px) {
    .works__item .body{
        height:auto;
    }
}



.page-footer{
    /* height: 100px; */
}