*{
    /* margin: 0;
    padding: 0; */
}
/* 
div{
    margin: 4rem;
    padding: 1rem;

    border: 0.5rem outset pink;
    outline: .5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 40px;
    font: bold 1rem sans-seift;
    outline-offset: 0.5rem;


}
 */
 
 body {
    background: #111;
    color: #f8f8f8;
}
canvas {
    background: #f8f8f8;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
}